@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --color-dark1-500: #210F37;
  --color-dark2-500: #4F1C51;
  --color-dark3-500: #A55B4B;
  --color-dark4-500: #DCA06D;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components{
  .lsnbtn{
    @apply  bg-dark3-500 p-2 text-white rounded-lg shadow-md mb-2  justify-center hover:bg-gray-400 transition-colors duration-300 text-center mx-3;
  }
  .tbtn {
    @apply  p-2 rounded-lg shadow-md mb-2   hover:bg-green-700 transition-colors duration-300 text-center  w-full justify-center items-center bg-green-800 text-white  mx-5;

  }
  .dtbtn{
    @apply  p-2 text-gray-800 rounded-lg shadow-md mb-2   bg-gray-400   w-full justify-center items-center  text-center mx-5;
  }
  .dark{
    @apply bg-[#3A0519];
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
